
.visor .form-floating {}
.visor {
    justify-content: space-between;
}

.cronometro {
    font-size: 3.5rem;
}

@media (max-width: 992px) {
    .visor {
        flex-direction: column;
    }
    .cronometro {
        text-align: center;
    }
  }

table {
    margin-top: 2rem;
}

tbody {
    display: block;
    height: 700px;
    overflow: auto;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}