.visor {
    justify-content: space-between;
}

.cronometro {
    font-size: 6rem;
}

@media (max-width: 992px) {
    .visor {
        flex-direction: column;
    }
    .cronometro {
        text-align: center;
    }
  }

table {
    margin-top: 2rem;
}

tbody {
    display: block;
    height: 700px;
    overflow: auto;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.container-visor {
    width: 50%;
    margin: auto;
    height: 15rem;
    display: flex;
    justify-content: center;
}

.visor-cronometro {
    display: flex;
    flex-direction: column;
}

.botoes-relogio {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.ion-icon {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1.6rem;
}