<head>
    <link rel="stylesheet" href="~/css/Pages/tarefa.css" asp-append-version="true" />
    <script src="~/js/Pages/tarefa.js" asp-append-version="true"></script>
</head>
<section class="container-visor">
    <div class="visor form-group d-flex">
        <label class="form-label mt-4"></label>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="nome@exemplo.com">
            <label for="floatingInput">Atividade</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Senha">
            <label for="floatingPassword">Tipo de Atividade</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingText" placeholder="Plataforma">
            <label for="floatingText">Plataforma</label>
        </div>
        <div>
            <h1 class="cronometro">00.00.00</h1>
        </div>
    </div>
</section>