@model Core.Models.Tarefa
<head>
    <link rel="stylesheet" href="~/css/Pages/tarefa.css" asp-append-version="true" />
    <script src="~/js/Pages/tarefa.js" asp-append-version="true"></script>
</head>
<section class="container-visor">
    <form id="visorForm" action="submit" onsubmit="tarefa.cadastrar()">
        <fieldset>
            <legend>Legend</legend>
            <div class="visor form-group d-flex">
                <label class="form-label mt-4"></label>
                <div class="form-floating mb-3">
                    <input asp-for="Atividade"  type="text" class="form-control" placeholder="Atividade">
                    <label asp-for="Atividade"></label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="TipoAtividade"  type="text" class="form-control" placeholder="Senha">
                    <label asp-for="TipoAtividade"></label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Plataforma"  type="text" class="form-control" placeholder="Plataforma">
                    <label asp-for="Plataforma"></label>
                </div>
                <div>
                    <h1 class="cronometro">00.00.00</h1>
                    <input type="button" value="iniciar">
                    <input type="button" value="pausar">
                    <input type="submit" value="finalizar">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
</section>

    <script>
        tarefa.init({
            urls: {
                cadastrar: '@Url.Action("cadastrar", "tarefa")',
                index: '@Url.Action("index", "tarefa")'
            }
        })
    </script>