<section style="display: flex; justify-content: center; margin-top: 5rem;">
<div class="card border-success mb-3" style="max-width: 20rem;">
  <div class="card-header">Cadastro de Usuario</div>
  <div class="card-body">
    <h4 class="card-title">Usuario cadastrado com sucesso!</h4>
    <p class="card-text"><a class="btn btn-success" asp-area="" asp-controller="login" asp-action="inicio">Logar</a></p>
</div>
</section>
