@{
    Layout = null;
    ViewData["Title"] = "Login - ChronoFocus";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <section>
        <form id="form-login" onsubmit="login.login()">
            <div>
                <label for="login-usuario">Login</label>
                <div>
                    <input id="login-usuario" type="text" name="Login" placeholder="Digite seu login" />
                </div>
            </div>
            <div>
                <label for="senha-usuario">Senha</label>
                <div>
                    <input id="senha-usuario" type="password" name="Senha" placeholder="Digite sua senha" />
                </div>
            </div>
            <input type="submit">Entrar</input>
        </form>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/Pages/login.js" asp-append-version="true"></script>
    <script>
        login.init({
            urls: {
                log: '@Url.Action("auth", "login")',
                index: '@Url.Action("index", "login")',
                home: '@Url.Action("index", "tarefa")'
            }
        });
    </script>
</body>
</html>
