@model TelaViewModel

<h1>Cadastro de Tela</h1>

<form id="telaForm">
    <div class="form-group">
        <label asp-for="Tela.Rota" class="control-label"></label>
        <input asp-for="Tela.Rota" class="form-control" />
    </div>
    <button type="button" class="btn btn-primary" onclick="tela.registrar('telaForm', 'cadastrar')">Cadastrar</button>
</form>

@section scripts {
    <script src="~/js/Pages/tela.js" asp-append-version="true"></script>
    <script>
        $(function () {
            tela.init({
                urls: {
                    cadastrar: '@Url.Action("cadastrar", "tela")',
                    index: '@Url.Action("Index", "Tela")'
                }
            });
        });
    </script>
}

