@model IEnumerable<Tela>

<h1>Telas</h1>

<a asp-controller="tela" asp-action="cadastrar" class="btn btn-primary">Cadastrar Nova Tela</a>

@if (!Model.Any())
{
    <p>Nenhuma tela cadastrada.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tela in Model)
            {
                <tr>
                    <td>@tela.Id</td>
                    <td>@tela.Rota</td>
                    <td>
                        <a asp-controller="tela" asp-action="editar" asp-route-id="@tela.Id" class="btn btn-primary">Editar</a>
                        <a asp-controller="tela" asp-action="excluir" asp-route-id="@tela.Id" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}