@model Core.Models.Usuario

@{
    ViewData["Title"] = "Cadastro de Usuario";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form id="formCadastrarUsuario" onsubmit="usuario.cadastrar()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="DataCadastro" value="@DateTime.Now" />
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>
    <script src="~/js/Pages/usuario.js" asp-append-version="true"></script>
<script>
    usuario.init({
        urls: {
            cadastrar: '@Url.Action("cadastrar", "usuario")',
            index: '@Url.Action("index", "usuario")'
        }
    })
</script>