@model PermissaoUsuarioViewModel

<form id="formBuscaUsuario">
    <div class="form-group">
        <label asp-for="Nome"></label>
        <input id="nomeUsuario" asp-for="Nome" class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" onclick="permissaoUsuario.mostrarPermissoesUsuario('formBuscaUsuario', 'editar', 'mostrarPermissao')">Search</button>
    </div>
</form>

<div id="mostrarUsuarios"></div>
<div id="mostrarPermissao"></div>

<script src="~/js/Pages/permissaoUsuario.js" asp-append-version="true"></script>
<script>
    permissaoUsuario.init({
        urls: {
            index: '@Url.Action("inicio", "permissao-usuario")',
            editar: '@Url.Action("editar", "permissao-usuario")',
            buscar: '@Url.Action("buscar", "permissao-usuario")'
        }
    });
</script>
