@model Core.Models.Departamento

@{
    ViewData["Title"] = "Editar";
}

<h2>@ViewData["Title"]</h2>

<h4>Departamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
                <input type="hidden" asp-for="Id">
                <div class="form-group">
                    <label asp-for="Nome" class="form-label mt-4"></label>
                    <input asp-for="Nome" type="text" class="form-control" placeholder="Nome do departamento">
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                </div>
        </form>
    </div>
</div>