@model IEnumerable<Core.Models.Departamento>
@{
    ViewData["Titulo"] = "Departamento";
}

<h1>@ViewData["Titulo"]</h1>

<p>
    <a asp-action="Cadastrar">Cadastrar</a>
</p>
@foreach (var item in Model)
{
    <div>@item.Nome</div>
}